* text=auto eol=lf

*.js text working-tree-encoding=UTF-8
*.mjs text working-tree-encoding=UTF-8
*.json text working-tree-encoding=UTF-8
*.md text working-tree-encoding=UTF-8
*.ftl text working-tree-encoding=UTF-8
*.css text working-tree-encoding=UTF-8
*.svg text working-tree-encoding=UTF-8
*.ps1 text working-tree-encoding=UTF-8

*.xpi binary
*.zip binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
